body {
  margin: 30px;
  overflow-y: scroll;
}
h1,
h2 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #ddd;
}
h3 {
  margin-bottom: 15px;
}
h3:first-child {
  margin-top: 0;
}
.control-label.is-required:after {
  content: "*";
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  color: #f00;
  vertical-align: top;
}
h2 > label,
h3 > label,
h4 > label {
  margin: 0;
  font-weight: normal;
}
.form-control {
  border-radius: 0;
}
.form-control:invalid,
.form-control:invalid {
  border-color: #e00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  outline: 2px solid #e00;
}
.form-control:focus:invalid,
.form-control:focus:invalid {
  box-shadow: inset 0 1px 1px rgba(0, 0 ,0, .075), 0 0 6px #ce8483;
}
.group .group {
  padding-left: 15px;
  border-left: 13px solid #ddd;
}
.group.is-active {
  border-left-color: #66afe9;
}
label + .radio,
label + .checkbox {
  margin-top: 0;
}
#submit {
  position: absolute;
  top: 0;
  left: -333px;
}
#result {
  overflow: scroll;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}
.is-disabled {
  display: none;
}
h1,
#builder {
  margin-right: 530px;
}
#result-container {
  position: fixed;
  top: 30px;
  bottom: 30px;
  right: 0;
  margin-right: 30px;
  width: 500px;
}
#result-container .btn {
  width: 150px;
  height: 59px;
  border-radius: 0;
  border-bottom: 0;
  font-size: 32px;
}
@media (max-width: 1700px) {
  h1,
  #builder {
    margin-right: 0;
  }
  #result-container {
    position: static;
    width: 100%;
  }
  #result {
    height: auto!important;
  }
}
